.header {
  justify-content: space-between;
  list-style-type: none;
}

.ProfileContainer {
  margin: 10px 20px;
}
.eachUserLink {
  display: flex;
  text-decoration: none;
  list-style: none;
}
table td {
  text-align: left;
  vertical-align: top;
}

.userprofileimage {
  float: left;
  width: 250px;
  height: 150px;
  border-radius: 50%;
}
.avatar {
  margin-right: 10px;
}
.links {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
.Userprofile {
  margin: 10px 20px;
  font-size: 24px;
  background-color: rgb(235, 233, 233);
  border: none;
  border-bottom: 6px solid rgb(8, 8, 82);
  padding: 10px 20px;
}
.information {
  margin-left: 30%;
}
